/* top level elements */

:root {
    --pink: #ff66ff;
    --white: #ffffff;
    --black: #000000;
    --gray: #666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    background-image: linear-gradient(var(--black),var(--gray))
        ;
}

body {
    font-family: Figtree, 'Arial Black', Helvetica, Arial, sans-serif;
    color: var(--white)
}

/* header & nav */

nav {
    color: var(--white);
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav ul li {
    font-family: 'Figtree Ultra 900', 'Arial Black', Helvetica, Arial, sans-serif;
    list-style: none;
    width:justify-content: center;
    text-align: center;
    width: 33%;
}

/* mbart.net module */

h1 {
    font-family:'Bowlby One', 'Arial Black', Helvetica, Arial, sans-serif;
    font-size: 8em;
    line-height: 1.1em;
    color: var(--pink);
    letter-spacing: .025em;
}

.net {
    font-family: 'Bowlby One', 'Arial Black', Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}

h2, h3, h4 {
    font-family:'Figtree Ultra 900','Arial Black', Helvetica, Arial, sans-serif;
    font-size: 1.38em;
}

h3 {
    padding:5px;
}

/* main content */

main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    padding:2%;    
}

.me {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    width: 50%;
    padding:2%;
}

.howdy {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top:2%;
    padding:2%;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin:auto;
    padding:2%;
}

.project {
    display: flex;
    height: 200px;
    background-color: var(--pink);
    border: 1px solid var(--white);
}

.project p {
    padding:1%;
    *position: absolute;
}

.project img {
    width:100%;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    padding:2%;
}

/* media queries */

@media screen and (max-width: 1200px) {
    .me {
        width: 50%;
    }

    .content {
         width: 50%;
}

@media screen and (max-width: 900px) {
    .me {
        width: 100%;
    }

    .content {
         width: 100%;
}


@media screen and (max-width: 500px) {
    .me {
        width: 100%;
    }

    .content {
         width: 100%;
}

    .project {
        width: 100%;
}
