/* top level elements */

:root {
    --pink:#ff66ff;
    --white:#ffffff;
    --black:#000000;
    --gray:#666666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    background-image: linear-gradient(var(--black),var(--gray))
        ;
}

body {
    font-family: 'Gotham Ultra','Arial Black', Helvetica, Arial, sans-serif;
    color:var(--white)
}

/* header & nav */

nav {
    color:var(--white);
    font-size:1.5em;
    border:1px solid white;
}

nav ul {
    display:flex;
}

nav ul li {
    list-style:none;
    width:justify-content:center;
    text-align:center;
    width:33%;
    }

/* mbart.net module */

h1 {
    font-size: 8em;
    line-height: 1em;
    color: var(--pink);
    letter-spacing: .025em;
}

.net {
    font-size:1.6em;
}

h2 {
    font-size:1.38em;    
}

/* main content */

main {
    display:flex;
}

.name {
    width:50%;
    border: solid 1px white;
}

.content {
    display:flex;
    flex-direction:row;
    width:50%;
    border: solid 1px white;
}

.content ul {
    width:100%;
    display:flex;
}

.featured-project li {
    margin:auto;
    width:100%;
    border: solid 1px white;
}

.small-project li {
    margin:auto;
    width:33%;
    border: solid 1px white;
}

/* footer */

footer {
    display:flex;
    flex-direction:row;
    justify-content: center;
    height:12%;
    border: 1px solid white;
}

/* media queries */

/*
@media screen and (max-width: 1200px) {
    section {
        flex-basis:30%;
    }
}

@media screen and (max-width: 768px) {
    section {
        flex-basis:45%;
    }
}

@media screen and (max-width: 320px) {
    section {
        flex-basis:90%;
    }
}
*/